.footerimages {
	justify-content: flex-start;
	text-align: center;
}

.header-logo img {
	height: 100px;
}

.main-page {
	background-image: url(../images/studiobackground.png);
	background-size: cover;
	position: relative;
	margin: 4px;
	text-align: center;
}

.albumlist {
	list-style: none;
	justify-content: flex-start;
	text-align: center;
	padding: 10px;
}

.albumlist li {
	margin: auto;
	display: inline-block;
	
}

.albumlist img {
	width: 200px;
	max-width: 100%;
	margin-left: 25px;
	margin-right: 25px;
}

div.albums {
	padding-top: 25px;
	padding-bottom: 100px;
	justify-content: flex-start;
}

h2 {
	text-align: center;
	color: blue-grey darken-3;
	font-size: 48px;
}

h4 {
	padding-left: 10px;
	margin: 0;
	border: 0;
}

h5 {
	text-align: center;
}

.h-linija2_albums {
	display: inline-block;
    width: 64px;
    bottom: 5px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    border-bottom: solid 1px purple;
}

.gridas .col {
	min-height: 200px;
}

img {
	max-width: 100%;
}

.row .col {
    padding: 0 0;
}
.pavadinimas {
	margin-top: auto;
	margin-bottom: auto;
}

.gridasMain .col {
	min-height: 400px;
	padding: 50px;
}

.gridasSub .col {
	display: flex;
	min-height: 100px;
	padding: 10px;
}

.mygtukas {
	width: 100%;
	line-height: 200px;
	height: 200px;
}

.mygtukasTitle {
	/*width: 100%;
	line-height: 54px;
	height: 54px;*/
	max-height: 100%;
	max-width: 100%;
}

.aprasymas {
	padding: 10px;
}
.aprasymasMain {
	justify-content: flex-start;
	text-align: left;
	padding: 10px;
}