.footerimages {
	justify-content: flex-start;
	text-align: center;
}

.header-logo img {
	height: 100px;
}

.main-page {
	background-image: url(../images/studiobackground.png);
	background-size: cover;
	position: relative;
	margin: 4px;
	text-align: center;
}

.albumlist {
	list-style: none;
	justify-content: flex-start;
	text-align: center;
	padding: 10px;
}

.albumlist li {
	margin: auto;
	display: inline-block;
	
}

.albumlist img {
	width: 200px;
	max-width: 100%;
	margin-left: 25px;
	margin-right: 25px;
}

.aboutimages {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#test1 {
	text-align: center;
}

#test2 {
	text-align: center;
}

#test3 {
	text-align: center;
}

#test4 {
	text-align: center;
}

.aboutusbottom {
	display: flex;
	justify-content: center;
}

.contactinfotable {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}

.aboutusheader {
	text-align: center;
}

.indexmodal {
	text-align: center;
}