.memberinfo {
	display: flex;
	justify-content: center;
}

.instrument {
	height: 250px;
	width: 350px;
	padding: 20px;
}

.p-c1 {
	height: 350px;
}

.p-c2 {
	height: 300px;
}

.p-c3 {
	height: 400px;
}

img {
	max-width: 100%;
}
